Flask==2.3.3
Flask-MySQLdb==1.0.1
mysql-connector-python==8.0.33
pytesseract==0.3.10
Pillow==10.2.0
numpy==1.24.4
tensorflow==2.12.0
python-dotenv==1.0.1
fpdf==1.7.2
unidecode==1.3.8
requests==2.31.0
google-generativeai==0.3.2
chromadb